#myHeader 
{
    background-color: darkslateblue;
    color: black;
    padding: 40px;
    text-align: center;
}

#link
{
    color: pink;
}

.tabelas
{
    background-color: darkcyan;
    color: white;
    padding: 10px;
    text-align: center;
}
.lista
{
    background-color: darkcyan;
    color: white;
    padding: 10px;
    text-align: center;
}